{% extends 'layout.html' %}
{% block content %}
<div id="errors" style="{% if not errors %}display: none;{% endif %}background: red; color: white;">
    <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
    <form action="/results" method="post">
        <div name="form_field">
            <label for="meal_cost">Meal cost:</label>
            <input type="text" name="meal_cost" value="{{ meal_cost }}">
        </div>
        <div name="form_field">
            <label for="tip_percentage">Tip percentage:</label>
            <input type="text" name="tip_percentage" value="{{ tip_percentage }}">
        </div>
        <input type="submit" id="submit" value="calculate">
    </form>
{% endblock %}